In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame(np.arange(0,25).reshape(5,5),index=["row1","row2","row3","row4","row5"],columns=["col1","col2","col3","col4","col5"])

In [5]:
df

      col1  col2  col3  col4  col5
row1     0     1     2     3     4
row2     5     6     7     8     9
row3    10    11    12    13    14
row4    15    16    17    18    19
row5    20    21    22    23    24

In [6]:
df.to_csv()

',col1,col2,col3,col4,col5\r\nrow1,0,1,2,3,4\r\nrow2,5,6,7,8,9\r\nrow3,10,11,12,13,14\r\nrow4,15,16,17,18,19\r\nrow5,20,21,22,23,24\r\n'

In [7]:
df.to_excel("mani.xlsx")

In [17]:
df.loc['row1']

col1    0
col2    1
col3    2
col4    3
col5    4
Name: row1, dtype: int32

In [24]:
df.iloc[2:3]

      col1  col2  col3  col4  col5
row3    10    11    12    13    14

In [25]:
df.iloc[0:,:1]

      col1
row1     0
row2     5
row3    10
row4    15
row5    20

In [28]:
(df.iloc[0:3,0:3].values)

array([[ 0,  1,  2],
       [ 5,  6,  7],
       [10, 11, 12]])

In [32]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
col5    0
dtype: int64

In [34]:
df['col1'].value_counts()

15    1
5     1
20    1
10    1
0     1
Name: col1, dtype: int64

In [37]:
df['col1'].unique()

array([ 0,  5, 10, 15, 20])

df[['col1','col2']]

# this is done for today

In [43]:
df=pd.read_csv("netflix.csv")

In [44]:
df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [46]:
df.shape

(16744, 17)

In [53]:
df['IMDb'].value_counts()

6.5    553
6.2    548
6.4    517
6.3    514
6.1    509
      ...
9.1      3
9.0      3
1.5      2
1.0      2
1.3      1
Name: IMDb, Length: 82, dtype: int64

In [62]:
df[df['IMDb']>9]

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
947,947,948,Natsamrat,2016,NaN,9.1,NaN,1,0,0,0,0,Mahesh Manjrekar,"Drama,Family",India,Marathi,166.0
1292,1292,1293,My Next Guest with David Letterman and Shah Ru...,2019,NaN,9.3,NaN,1,0,0,0,0,NaN,Talk-Show,NaN,NaN,61.0
5110,5110,5111,Love on a Leash,2011,NaN,9.3,NaN,0,0,1,0,0,Fen Tian,"Comedy,Drama,Fantasy,Romance",United States,NaN,90.0
6566,6566,6567,Square One,2019,NaN,9.3,NaN,0,0,1,0,0,Danny Wu,"Documentary,Drama,Music",United States,English,83.0
6837,6837,6838,Steven Banks: Home Entertainment Center,1989,NaN,9.3,NaN,0,0,1,0,0,Tom McLoughlin,Comedy,United States,English,60.0
7220,7220,7221,"Down, But Not Out!",2015,NaN,9.3,NaN,0,0,1,0,0,Miguel Gaudêncio,"Documentary,Sport",Poland,Polish,68.0
7426,7426,7427,Bounty,2011,NaN,9.3,NaN,0,0,1,0,0,Roger Donaldson,"Adventure,Drama,History,Romance","United Kingdom,United States,New Zealand",English,132.0
7491,7491,7492,Finding Family,2013,13+,9.1,NaN,0,0,1,0,0,"Chris Leslie,Oggi Tomic","Documentary,Family,History,War","United Kingdom,Bosnia and Herzegovina","Bosnian,English",56.0
8458,8458,8459,Where's Daddy?,2017,NaN,9.1,NaN,0,0,1,0,0,Rel Dowdell,Documentary,United States,English,105.0

In [10]:
from io import *

In [14]:
StringIO(data)

In [15]:
data=('col1 ,col2 ,col3\n'
      'a,b,c\n'
      '1,2,3\n'
      '4,5,6\n'
      )

In [30]:
df=pd.read_csv(StringIO(data))

In [18]:
df

  col1  col2  col3
0     a     b    c
1     1     2    3
2     4     5    6

In [29]:
df

  col1  col2  col3
0     a     b    c
1     1     2    3
2     4     5    6

In [31]:
data=('a,b,c,d\n'
      'appple,ball,cat,dog\n'
      'ant,bag,can,duck\n'
      'aeroplane,bull,crow,dig'
      )

In [32]:
data

'a,b,c,d\nappple,ball,cat,dog\nant,bag,can,duck\naeroplane,bull,crow,dig'

In [33]:
StringIO(data)

In [45]:
df = pd.read_csv(StringIO(data),usecols=['a','d'],index_col=1)

In [46]:
df

              a
d
dog      appple
duck        ant
dig   aeroplane

In [64]:
data=('a,b\n'
      '"hello\\bob\\,nice to meet you","how are you doing"' )

In [65]:
data

'a,b\n"hello\\bob\\,nice to meet you","how are you doing"'

In [66]:
StringIO(data)

In [67]:
df=pd.read_csv(StringIO(data),escapechar='\\')

In [68]:
df

                           a                  b
0  hellobob,nice to meet you  how are you doing

In [76]:
df=pd.read_csv("iris.json")

In [84]:


df.to_json(orient="index")

ValueError: DataFrame index must be unique for orient='index'.

In [78]:
df.to_csv("iris.csv")